<?xml version="1.0"?>
<config>
    <modules>
        <Lindybop_LookbookImage>
            <version>0.0.1</version>
        </Lindybop_LookbookImage>
    </modules>
    <global>
        <models>
            <lookbookImage>
                <class>Lindybop_LookbookImage_Model</class>
                <resourceModel>lookbookImage_resource</resourceModel>
            </lookbookImage>
            <lookbookImage_resource>
                <class>Lindybop_LookbookImage_Model_Mysql4</class>
                <entities>
                    <lookbook>
                        <table>lindybop_lookbook</table>
                    </lookbook>
                </entities>
            </lookbookImage_resource>
        </models>
        <blocks>
            <lookbookImage>
                <class>Lindybop_LookbookImage_Block</class>
            </lookbookImage>
        </blocks>
        <helpers>
            <lookbookImage>
                <class>Lindybop_LookbookImage_Helper</class>
            </lookbookImage>
        </helpers>
        <resources>
            <lookbookimage_setup>
                <setup>
                    <module>Lindybop_LookbookImage</module>
                </setup>
            </lookbookimage_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <lookbookImage>
                    <file>lindybop_lookbookimage.xml</file>
                </lookbookImage>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <lookbookImage before="Mage_Adminhtml">Lindybop_LookbookImage_Adminhtml</lookbookImage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <lookbookImage>
                    <file>lindybop_lookbookimage.xml</file>
                </lookbookImage>
            </updates>
        </layout>
    </frontend>
</config>